<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>My Store</h5>
                <p>Tu tienda de confianza para todos tus productos.</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white">Inicio</a></li>
                    <li><a href="{% url 'locales' %}" class="text-white">Locales</a></li>
                    <li><a href="{% url 'cart' %}" class="text-white">Carrito</a></li>
                    <li><a href="{% url 'register' %}" class="text-white">Registro</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>
                    Dirección: Av. Américo Vespucio 1501, 9220213 Cerrillos, Región Metropolitana<br>
                    Teléfono: +569 133<br>
                    Email: info@cafeoeste.com
                </p>
            </div>
        </div>
        <div class="text-center py-3">
            &copy; 2024 My Store. Todos los derechos reservados.
        </div>
    </div>
</footer>
