{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    {% for category, products in products_by_category.items %}
    <div class="category-section mb-5">
        <h2>{{ category.name }}</h2>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch mb-4">
                <a href="{% url 'product_detail' product.id %}" class="card-link">
                    <div class="card shadow-sm h-100">
                        <div class="row no-gutters h-100">
                            <div class="col-8 d-flex flex-column">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p class="card-text"><small class="text-muted">Unidades: {{ product.stock }}</small></p>
                                    <p class="card-text font-weight-bold">${{ product.price }}</p>
                                </div>
                            </div>
                            <div class="col-4">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" class="card-img h-100" alt="{{ product.name }}">
                                {% else %}
                                <img src="{% static 'path/to/default_image.jpg' %}" class="card-img h-100" alt="Default Image">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
