{% extends 'base.html' %}

{% load static %}

{% block title %}Productos{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Productos</h2>
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if producto.foto %}
                <img src="{{ producto.foto.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                {% else %}
                <img src="{% static 'images/default-product.jpg' %}" class="card-img-top" alt="{{ producto.nombre }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text"><small class="text-muted">{{ producto.cantidad }} en stock</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
