{% extends 'base.html' %}

{% block title %}Categorías{% endblock %}

{% block content %}
<div class="container">
    <h2>Categorías</h2>
    <div class="row">
        {% for categoria in categorias %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ categoria.imagen.url }}" class="card-img-top" alt="{{ categoria.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ categoria.nombre }}</h5>
                    <p class="card-text">{{ categoria.precio }}</p>
                    <p class="card-text">{{ categoria.descripcion }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
