<!-- redirect_to_webpay.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redireccionando a Webpay...</title>
</head>
<body>
    <form action="{{ url }}" method="POST" id="webpay-form">
        <input type="hidden" name="token_ws" value="{{ token }}">
    </form>
    <script type="text/javascript">
        document.getElementById('webpay-form').submit();
    </script>
</body>
</html>
